---
title: Creating a new Pathway
layout: page
tags: ['intro','post']
---

p When running tests you may have a problem with a Xerces class not being loaded

p A workaround is to use the following incantation when running grails test-app

```
test-app -Djavax.xml.parsers.DocumentBuilderFactory=com.sun.org.apache.xerces.internal.jaxp.DocumentBuilderFactoryImpl 
```

